html, body {
  font-size: 1vw;
}

div img {
  width: 100%;
  height: auot;
}

.App {
  text-align: left;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.logo {
  width: 10rem;
  height: auto;
}

h1 {
  margin: 0 0 2rem;
  font-size: 3rem;
  font-weight: 400;
}

.content {
  font-size: 1.5rem;
}

.percantage-block {
  width: 40vw;
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.percantage-block-label {
  width: 7rem;
}

.percentage-bar {
  margin-left: 1rem;
  background-color: #f1f1f1;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
}

.percentage-bar-filled-part {
  color: #fff;
  background-color: #333;
  border-radius: 5px 5px 5px 5px;
  padding: 0.25rem 0;
  text-align: center;
}

.life-expectancy-inputs {
  display: flex;
  flex-direction: column;
}

.life-expectancy-inputs * {
  margin: 0.5rem 0;
}

.life-expectancy-inputs input {
  font-size: 1.5rem;
  border-radius: 5px 5px 5px 5px;
  padding: 0.25rem 0.5rem;
  outline: none;
  border: none;
  background-color: #f1f1f1;
}

.life-expectancy-inputs button {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.error {
  color: #d22b2b;
}

@media screen and (max-width:1280px) and (orientation:portrait) {
  html,
  body {
      font-size: 2vw;
      overflow-x: hidden;
  }

  .percantage-block {
    width: 90vw;
  }

}
